#drawer-menu {
	width: 60%;
	position: absolute;
	top: 44px;
	bottom: 0;
	z-index: 999;
	background: #353A3B;
	font-size: .8em;
	-webkit-transform: translate3d(-100%, 0, 0);
	-webkit-transition: all .25s ease;
}

.menu-visible #drawer-menu {
	-webkit-transform: translate3d(0, 0, 0);
}

#drawer-menu .list {
	margin: 0;
	list-style: none;
}

#drawer-menu .list li {
	position: relative;
	padding: 20px 10px;
	border-bottom: 1px solid #BCBCBC;
	font-size: 20px;
	color: #fff;
}

#drawer-menu .list li > a {
	position: relative;
	display: block;
}

#drawer-menu .list li > a:active {
	background-color: #D7D7D7;
}

.menu-icon {
	width: 45px;
	position: absolute;
	vertical-align: middle;
	margin-top: -10px;
}

.menu-text {
	padding-left: 30%;
}

#menu-overlay {
	width: 100%;
	position: absolute;
	top: 44px;
	bottom: 0;
	z-index: 998;
	background: black;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity .25s ease;
}

.menu-visible #menu-overlay {
	opacity: .5;
	pointer-events: auto;
}
