<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.hhsfbla.mad"
        version   = "1.0.0">
	
	<name>IT Academy</name>
	<description>
		Homestead FBLA Mobile Application Development 2013-14
	</description>
	
	<icon src="icon.png" />
	
	<icon src="img/icon/icon_57.png" gap:platform="ios" width="57" height="57" />
	<icon src="img/icon/icon_72.png" gap:platform="ios" width="72" height="72" />
	<icon src="img/icon/icon_114.png" gap:platform="ios" width="114" height="114" />

	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<icon src="img/icon/icon_144.png" gap:platform="ios" width="144" height="144" />
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" />
	<access origin="http://hhsfbla.com" subdomains="true" />
	
	<preference name="DisallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="ios-statusbarstyle" value="black-translucent" />
	
</widget>
